/*
 * The colour theme for Specificity Calculator is from http://ethanschoonover.com/solarized
 */

body {
	background: #FDF6E3;
	color: #657B83;
}

h1 {
	font-size: 40px;
	line-height: 40px;
	margin: 25px 0 5px;
	color: #CB4B16;
	letter-spacing: -1px;
}

p {
	line-height: 1.5em;
}

a {
	color: #6C71C4;
}

code {
	background-color: #EEE8D5;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 5px;
}

.intro {
	font-style: italic;
	margin-top: 0;
}

.footer {
	margin-bottom: 60px;
}

.main {
	width: 680px;
	margin: 0 auto;
}

/* Items */

#items {
	width: 680px;
	min-height: 536px;
	position: relative;
}

.item {
	background: #FFF;
	padding: 20px 20px 10px;
	width: 640px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 0px 10px 0px #D5CEBB;
	box-shadow: 0px 0px 10px 0px #D5CEBB;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	opacity: 1;
}

.transition-all {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.is-small {
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-ms-transform: scale(0.6);
	-o-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0;
}

	.input,
	.selector {
		font-size: 28px;
		line-height: 36px;
		font-family: monospace, serif;
		_font-family: 'courier new', monospace;
	}

	.input {
		width: 630px;
		height: 36px;
		position: absolute;
		top: 20px;
		left: 20px;
		padding: 3px 5px;
		border: none;
		background: none;
		color: #FFF;
		resize: none;
		outline: none;
	}

		.input:focus,
		.input:active {
			-moz-box-shadow: 0 0 10px #00171D;
			-webkit-box-shadow: 0 0 10px #00171D;
			box-shadow: 0 0 10px #00171D;
		}

	.selector {
		min-height: 36px;
		padding: 3px 5px;
		background: #002B36;
		white-space: pre-wrap;
	}

	.specificity {
		margin: 20px 0 0;
		color: #FFF;
		font-size: 80px;
		line-height: 80px;
		text-align: center;
		font-weight: bold;
	}

		.specificity > span {
			float: left;
			width: 157px;
			padding: 10px 0 10px 0;
			margin-left: 4px;
			-webkit-border-top-left-radius: 3px;
			border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			border-top-right-radius: 3px;
		}
			.specificity > span:first-child {
				margin-left: 0;
			}

	.legend {
		clear: left;
		font-size: 12px;
		text-align: center;
		color: #FFF;
	}

		.legend > span {
			float: left;
			width: 117px;
			height: 40px;
			padding: 0 20px;
			margin-left: 4px;
			-webkit-border-bottom-left-radius: 3px;
			border-bottom-left-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

			.legend > span:first-child {
				margin-left: 0;
			}

.selector .type-z {
	color: #CB4B16;
	background: #CB4B16;
}

.specificity .type-z,
.legend .type-z {
	background: #CB4B16;
}

.selector .type-a {
	color: #D33682;
	background: #D33682;
}

.specificity .type-a,
.legend .type-a {
	background: #D33682;
}

.selector .type-b {
	color: #268BD2;
	background: #268BD2;
}

.specificity .type-b,
.legend .type-b {
	background: #268BD2;
}

.selector .type-c {
	color: #2AA198;
	background: #2AA198;
}

.specificity .type-c,
.legend .type-c {
	background: #2AA198;
}

.button {
	float: right;
	margin-top: 10px;
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	background: #B58900;
	color: #FFF;
	padding: 2px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.button:hover {
	background: #CEA62C;
}

.duplicate:before {
	content: "+";
	padding-right: 5px;
}

.menu {
	position: fixed;
	top: 110px;
	left: 20px;
}
