$type-a-color: #A92B68;
$type-b-color: #1E6FA8;
$type-c-color: #22817A;

$list-type-indexes: a b c;
$list-type-colors: $type-a-color $type-b-color $type-c-color;

.item {
	background: #FFF;
	padding: 20px;
	margin: 0 -20px 20px;
	box-shadow: 0 0 15px 0 #D5CEBB;
	overflow: hidden;
	position: relative;
	opacity: 1;

	.button {
		@media (max-width: 499px) {
			float: right;
			margin-top: 10px;
		}

		@media (min-width: 500px) {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}
	}
}

.input-wrap {
	position: relative;
}

.input,
.selector {
	font-size: 28px;
	line-height: 36px;
	font-family: monospace;
	padding: 10px;
}

.input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	border: none;
	background: none;
	color: #FFF;
	resize: none;
	outline: none;
	overflow: hidden;
}

.input:focus,
.input:active {
	box-shadow: 0 0 10px #00171D;
}

.selector {
	min-height: 56px;
	background: #002B36;
	white-space: pre-wrap;
	word-break: break-word;
}

.specificity {
	margin: 10px 0 0 0;

	> span {
		margin-top: 5px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	dd {
		height: 42px;
		min-width: 42px;
		line-height: 42px;
		margin: 0 10px 0 0;
		border-radius: 50%;
		font-size: 28px;
		font-weight: bold;
		color: #FFF;
		text-align: center;
		flex-grow: 0;
		flex-shrink: 0;
	}

	dt {
		font-size: 14px;
		flex-grow: 1;
	}
}

@each $key in $list-type-indexes {
	$i: index($list-type-indexes, $key);
	$color: nth($list-type-colors, $i);

	.selector .type-#{$key} {
		color: $color;
		background: $color;
	}

	.specificity .type-#{$key} dd {
		background: $color;
	}
}

.pop-enter-active {
	animation: pop 200ms ease;
}

@keyframes pop {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
