/*
* The colour theme for Specificity Calculator is from http://ethanschoonover.com/solarized
*/

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #fdf6e3;
	color: #516269;
	font-family: sans-serif;
}

h1 {
	font-size: 40px;
	line-height: 1.1;
	margin: 25px 0 5px;
	color: #cb4b16;
	letter-spacing: -1px;
}

p {
	line-height: 1.5;
}

a {
	color: #565a9d;
}

code {
	background-color: #eee8d5;
	border: 1px solid #cccccc;
	border-radius: 3px;
	padding: 0 5px;
}

.intro {
	font-style: italic;
	margin-top: 0;
}

.footer {
	margin-bottom: 60px;
}

.main {
	max-width: 800px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;
}

/* Items */

.items {
	position: relative;
	min-height: 502px;
}

.items-move {
	transition: transform 0.5s;
}

.scale-enter-active {
	transition: all 0.2s ease;
}

.scale-enter {
	transform: scale(0.6);
	opacity: 0;
}

.menu {
	position: absolute;
	top: 0;
	right: 30px;
}

.button {
	font-size: 14px;
	line-height: 1;
	text-decoration: none;
	background: #916d00;
	color: #fff;
	border-radius: 3px;
	padding: 10px;

	&:hover {
		background: #7f6000;
	}
}

.duplicate:before {
	content: "+";
	padding-right: 5px;
}
